<include file="Public/header" />
<div class="col-lg-12 col-sm-12 row">
    <table class="table">
        <tr>
            <td>Id</td>
            <td>email</td>
            <td>name</td>
            <td>age</td>
            <td>sex</td>
            <td>地址</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        <foreach name="user" item="vo">
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.email}</td>
            <td>{$vo.name}</td>
            <td>{$vo.age}</td>
            <td>{$vo['sex'] == 1?'男' :'女'}</td>
            <td>{$vo.address}</td>
            <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
            <td><a href="">删除</a></td>
        </tr>
        </foreach>
    </table>
</div>
<include file="Public/footer" />
