<include file="Public/header" />
<div class="col-lg-12 col-sm-12 row">
    <div><a href="{:U('admin/user/add')}" class="btn">新增</a></div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>email</td>
            <td>name</td>
            <td>age</td>
            <td>sex</td>
            <td>地址</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        <foreach name="user" item="vo">
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.email}</td>
            <td>{$vo.name}</td>
            <td>{$vo.age}</td>
            <td>{$vo['sex'] == 1?'男' :'女'}</td>
            <td>{$vo.address}</td>
            <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
            <td>
                <a href="{:U('admin/user/update',array('id'=>$vo['id']))}">修改</a>
                <a href="{:U('admin/user/del',array('id'=>$vo['id']))}">删除</a>
            </td>
        </tr>
        </foreach>
    </table>
    <div class="page">{$page}</div>
</div>
<style>
.page .current{background-color:rgba(0,255,150,0.5);}
.page .prev,.num,.next,.current{width:auto;height:auto;margin:4px;padding:3px 3px;box-shadow:0 0 2px rgba(0,0,0,0.2);background-color:rgba(255,255,255,0.1);}
</style>
<script>
    $(function(){
        //$('.page').find('div').children().addClass('btn').addClass('btn_default');
    })
</script>
<include file="Public/footer" />
